*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(asset/bacground\ html.png);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color:#8000804D;
    position: fixed;
}
.logo{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-left: 48px;
    background-image: url(asset/logo.png);
}
.container nav{
    margin-right: 48px;
}
.container button{
    border-radius: 8px;
    background-color:#80008080;
    width: 70px;
    height: 30px;
    border: none;
}
.container nav a{
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
    color: black;
    text-decoration: none;
    text-align: center;
}
.container nav :hover a{
    color:#FFD700;
}
.container nav :active a{
    color: 	#DC143C;
}
hr{
    margin-top: 0;
}
header h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 56px;
}
header h4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 24px;
}
.main-container{
    display: flex;
    width: 100%;
    margin-top: 8px;
    justify-content: center;

}
.container-one{
    width: 40%;
    margin: 8px 8px 8px 8px;
    position: relative;
    color: #000000; 
    background-color: #FFFFFF99; 
    border-radius: 10px;
}

.travel-image{
    width: 450px;
    height: 300px;
    background-image:url(asset/bacground\ html.png);
    margin: auto;
    margin-top: 8px;
    margin-bottom: 16px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.author-logo {
    font-size: 30px;
    color: #333; 
    float: left;
    margin-left: 24px;
    margin-right: 4px;
    
}
.clear{
    float: left;
}
.review {
    margin-left: 16px;
    font-size: small;

}
.fitur p{
    margin-left: 16px;
    text-align: justify;
    padding:12px;
}
.benefit-fitur{
    margin-left: 48px;
    text-align: left;
    line-height: normal;
}
#container-two{
    width: 40%;
    height: 60%;
    margin: 8px 8px 8px 8px;
    padding: 58px;
    position: relative;
    background-color:#FFFFFF99; 
    border-radius: 10px;
}
#container-two h3{
    padding-bottom: 8px;
}
.container-input{
    padding-left: 50px;
}
input{
    width: 250px; 
    height: 35px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
}
select{
    width: 250px; 
    height: 35px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
}

input[type="submit"] {
    width: 80px; 
    height: 35px;
    font-size: 16px;
    background-color:#48D1CC; 
    color:#000000; 
    border: 1px solid #696969; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;
    font-size: 18px;
}
input[type="submit"]:hover{
    color: #DC143C;
    background: 	#00FF00;
}
input[type="submit"]:active{
    color: #FFD700;
}
.package{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0; 
    box-sizing: border-box;
    margin-top: 32px;
}
.item {
    font-size: small;
    height: 100px;
    color:#000000;
    padding-left: 12px;
    padding-top: 32px;
}
i{
    font-size: 20px;
color: #333; 
float: left;
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
}
.closing{
    width: 80%;
    background-color: #f0f0f0; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;

}
.closing button{
    border-radius: 5px;
    background-color:#000000;
    width: 135px;
    height: 35px;
    border: none;
    color:white;
    margin-bottom: 32px;
}
footer{
    margin-top: 48px;
    text-align: center;
    background-color: #FFFFFF80 ;
    color: #000000; 
    font-weight: bold; 
}

@media only screen and (max-width: 480px) {
    .container {
        position: static;
        flex-direction: column;
        height: auto;
    }
    .logo {
        margin: auto; 
    }

    nav {
        margin:auto; 
        justify-content: center;
        align-items: center;

    }
    .container nav button {
        margin: 8px; 
        width: 100%;
    }

    header h1 {
        margin-top: 32px;
    }
    .main-container {
        flex-direction: column; 
        align-items: center; 
        width: 100%;
        margin-top: 8px;
        justify-content: center;
    }
    .container-one {
        width: 90%; 
        margin: 8px auto; 
    }
    #container-two{
        width: 90%; 
        margin: 8px auto; 
    }
    .travel-image {
        width:90%; 
        height: 100px; 
        border-radius: 0;
    }
    .author-logo {
        margin-left: 8px; 
        font-size: 24px; 
    }
    .fitur p {
        margin: 8px; 
    }
    .benefit-fitur {
        margin-left: 32px; 
    }
    
    .container-input {
        padding:0%; 
    }
    input, select {
        width: 100%; 
    }
    input[type="submit"] {
        width: 100%; 
        margin-top: 16px; 
    }
    .package {
        display: block;
        width: 90%;
        margin-top: 32px;
        padding: 8px;
        text-align: justify;
        padding-bottom: 32px;
    }
    .closing {
        width: 90%;
        text-align: center;
        padding: 32px 0;
        background-color: #ccc;
    }
    .closing button {
        width: 80%;
        height: 35px;
        margin-bottom: 32px;
    }
    hr{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-container {
        margin-top: 4px; 
    }
    .container-one {
        width: 90%; 
        margin: 8px auto; 
    }
    #.container-two{
        width: 90%; 
        margin: 8px auto; 
    }
        .container-input {
            padding: 0%; 
        }
        input, select {
            width: 100%; 
        }
    
        input[type="submit"] {
            width: 100%; 
            margin-top: 16px; 
        }


}








